    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About Pierce</h2>
                <p>Originally hailing from the Big Bend city of Tallahassee, Florida, solo artist Pierce Alexander soon made the move to Charleston,
                   South Carolina- the place where he is currently honing his style as a guitarist and songwriter. Alexander's most recent work might
                    best be described as alternative rock with a modern edge, incorporating elements of jazz, rock, and electronic music into songs which
                     strive to have complexity and several layers of meaning. Alexander's artistic influences are varied- everything from Radiohead, David Bowie,
                      and The Smiths, to his favorite authors and poets, to where he has lived and the friends, musicians, and mentors he has met along the way.
                       These days, Pierce can often be found walking the streets of Charleston with a guitar on his back or tucked in the back of a coffee shop
                        writing lyrics. His latest singles are Black Friday (2014) and Waiting for the Show (released summer 2015). An EP is in the works for 2016."</p>
            </div>
        </div>
    </section>
